*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;   
}
h1, 
h2, 
h3{
    color: #acacac;
}
p{
    color: #d1d1d1;
}

/*NavBar*/

.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #5cb2fd;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 100px;
    margin-top: -10px;
}

.navbar-items{
    position: absolute;
    right: 0;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-items a:hover{
    color: #c2c2c2;
}

.default-btn{
    padding: 15px 20px;
    background-color: #1ed3bb;
    border-radius: 6px;
}

.navbar-items .default-btn:hover{
    background-color: #c2c2c2;
    transition: 0.7s;
    color: #ffffff;
}

.main-banner{
    background-image: url("../img/OIG4.jpg");
    background-size: cover;
    background-position: 100%;

    padding: 10rem 0;
}

.main-banner h1,
.main-banner p{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 32px;
}

/*Services*/
.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    padding: 20px;
}
.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #06fc89;
}

.fa-rocket{
    color: #ec4218;
}

.fa-comments{
    color: #0066ff;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 24px;
}